# Ignore everything in the root directory
/*

# But not these directories...
!/wp-content/

# Ignore everything within wp-content directory
wp-content/*

# Except for the plugins and themes directories
!/wp-content/plugins/
!/wp-content/themes/

# Allow gitautodeploy.php in the root
!/gitautodeploy.php
!/.gitignore
!/.gitattributes

# Optional: Ignore specific files or directories within plugins and themes
# /wp-content/plugins/plugin-to-ignore/
# /wp-content/themes/theme-to-ignore/